<td><%= title %></td>
<td><%= organizer_email %></td>
<td><%= start_time.slice(0, -8).replace("T", " ") %></td>
<td><%= end_time.slice(0, -8).replace("T", " ") %></td>
<td>
  <ul>
    <% _.each(meeting_highlights, function(meeting_highlight){ %>
      <li class="mb15"> <%= meeting_highlight.highlight_text %>
        <button class="btn btn-xs js-edit-highlight  ml20" data-id="<%= meeting_highlight.id %>">
           <span class="glyphicon glyphicon-pencil"></span>
              Edit highlight
         </button>
       </li>
  <% }); %>
  </ul>
</td>
<td class="text-nowrap">
  <button  class="btn btn-small js-update-meeting">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  </button>
  <button class="btn btn-small js-delete-meeting">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</td>